NEXT_PUBLIC_SUPABASE_URL=https://shapgbvpqbtqfycujydw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoYXBnYnZwcWJ0cWZ5Y3VqeWR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzNDYxMjcsImV4cCI6MjEwNDkyMjEyN30.5BKWtbNU7zUXwnDZ0njMDvPEqHy7Ms0CgSYexOfo_4M
